@page "/"
@using TrackingCalendar.Services
@using Task = TrackingCalendar.Models.Entity.Task
@inject ITaskService TaskService
@rendermode InteractiveServer

<PageTitle>Task Tracking Calendar</PageTitle>

<h3>Task Calendar</h3>

<div class="border" style="padding: 20px;">
    <TaskItemForm OnItemAdded="@TaskChanged" />
    @if (ShowUpdateForm)
    {
        <TaskUpdateForm OnItemUpdated="@TaskChanged" selectedTask="selectedTask" ShowUpdateForm="ShowUpdateForm" ShowUpdateFormChanged="@(value => ShowUpdateForm = value)" />
    }
</div>


<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Completed/Uncompleted</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in _tasks)
    {
        <tr>
            <td>@task.Title</td>
            <td>
                <div style="display: -webkit-box;max-width: 150px;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;">
                    @task.Description
                </div>
            </td>
            <td>@task.StartDate.ToShortDateString()</td>
            <td>@task.EndDate.ToShortDateString()</td>
            <td>@(task.IsCompleted ? "Completed" : "Uncompleted")</td>
            <td>
                <button class="btn btn-primary" @onclick="() => CompleteTask(task)" >@(task.IsCompleted ? "UnComplete" : "Complete")</button>
                <button class="btn btn-primary" @onclick="() => EditTask(task)" >Edit</button>
                <button class="btn btn-danger" @onclick="() => DeleteTask(task.Id)">Delete</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@code
{
    private List<Task> _tasks = [];
    private Task selectedTask = new Task();
    private bool ShowUpdateForm = false;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        _tasks = await TaskService.GetTasksAsync();
    }

    private async void TaskChanged()
    {
        _tasks = await TaskService.GetTasksAsync();
        StateHasChanged();
    }
    
    private async void CompleteTask(Task task)
    {
        task.IsCompleted = !task.IsCompleted;
        await TaskService.UpdateTask(task);
    }
    
    private void EditTask(Task task)
    {
        selectedTask = task;
        ShowUpdateForm = true;
    }
    
    private async void DeleteTask(Guid id)
    {
        await TaskService.DeleteTask(id);
        TaskChanged();
    }
}
